<!doctype>

<html>
<head>
  <title>Raj Music Wolrd</title>
  
    <link href="../../css/styles.css" rel="stylesheet" />
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
     <link href="../../js/bootstrap.min.js" rel="stylesheet" />
     <script src="../../js/jquery-3.2.1.js"></script>
     
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Raj Music World</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="trending">Trending Music <span class="sr-only">(current)</span></a></li>
        <li><a href="/telugu">Telugu Songs</a></li>
        <li><a href="/hindi">Hindi Songs</a></li>
        <li><a href="/tamil">Tamil Songs</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Search for Song or Movie" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
</ul>
</body>
</html>