<% include layout %>
<html>
<h1>Top Trending Music..<h1>
<div class="container">
  <h2>Today Top Chartbusters</h2>          
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Movie Name</th>
        <th>Song Name</th>
        <th>Song Play/Pause</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01</td>
        <td>Ninnu Kori(2017)</td>
        <td>Adigaa Adigaa</td>
        <td>
        	<audio controls>
			  <source src="Track4.mp3" type="audio/mpeg">
			</audio>
        </td>
        <td>
        	<a href="#">Download</a>
        </td>
      </tr>
    </tbody>
  </table>
	  <audio controls>
	     <source src="Track4.mp3" type="audio/mpeg">
	  </audio>
</div>
</html>